<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/result">
        <select name="mood" >
            <option value="외로움">외로움</option>
            <option value="배고픔">배고픔</option>
            <option value="슬픔">슬픔</option>
        </select>
        <input type="radio" name="weather" value="맑음">맑음
        <input type="radio" name="weather" value="비">비
        <input type="submit" value="제출">
    </form>
</body>
</html>